<div class="card border-0 shadow-sm">
  <div class="card-header">
    <span class="card-title"
      ><i class="bi bi-people"></i> Friends' Birthdays</span
    >
  </div>
  <div class="card-body">
    @if (!sortedFriends().length) {
    <div class="alert alert-primary" role="alert">Friends list is empty!</div>
    }
    <ul class="list-group list-group-flush">
      @for (friend of sortedFriends(); track $index) {
      <li class="list-group-item">
        <div class="d-flex align-items-center mb-2">
          <i class="bi bi-person-fill text-primary me-2"></i>
          <h6 class="mb-0">{{ friend.firstName }}</h6>
          @if (isBirthdayToday(friend)) {
          <span class="text-success mx-2"> ( 🎉 Birthday, today!) </span>
          }
        </div>
        <p class="mb-1">
          Birthday:
          <strong>
            {{ friend.birthDay }}/{{ friend.birthMonth
            }}{{ friend.birthYear ? "/" + friend.birthYear : "" }}</strong
          >
        </p>
        <p class="mb-0" style="white-space: nowrap">
          Days to next birthday:<strong>{{
            calculateDaysToNextBirthday(friend)
          }}</strong>
          @if (friend.birthYear) {
          <span>
            | Age: <strong>{{ calculateAge(friend) }}</strong>
          </span>
          }
        </p>
      </li>
      }
    </ul>
  </div>
</div>
